# **Stock Data Pre-Processing**

In [83]:
#!pip install ta

In [84]:
import warnings
warnings.filterwarnings("ignore")

import ta
import numpy as np
import pandas as pd
import yfinance as yf
import seaborn as sns
import statsmodels as smt
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import plotly.graph_objects as go

### Downloading Stock data from Yahoo Finance package

Yahoo Finance is a widely used platform for accessing financial information, including stock market data, company profiles, historical stock prices, and more. To facilitate easy access to this data, there is a Python package called "yfinance" (short for Yahoo Finance) that provides a simple and convenient way to interact with Yahoo Finance's API.

The yfinance package allows users to fetch financial data for stocks, exchange-traded funds (ETFs), indices, and more. It provides functions to download historical stock data, real-time stock quotes, company information, and financial statements. The package is built on top of the popular data manipulation library, pandas, making it easy to integrate with existing data analysis workflows.

With yfinance, users can specify the desired stock ticker symbols, specify a date range, and retrieve a wide range of financial data. This includes daily historical prices, dividend information, stock splits, and more. The package also supports the ability to download data for multiple symbols at once, making it efficient for analyzing and comparing multiple stocks or assets.

In addition to historical data, yfinance allows users to obtain real-time stock quotes, including the current price, volume, market capitalization, and other relevant metrics. This can be useful for monitoring real-time market activity or building trading algorithms.

Overall, the yfinance package provides a convenient and efficient way to access and analyze financial data from Yahoo Finance using Python. It is a valuable tool for financial analysts, researchers, and developers who need to retrieve and analyze stock market data for various purposes.

In [85]:
start_date = datetime(2017,1,1)
end_date = datetime.today()

stock = yf.download('TSLA',start_date ,end_date)
stock.reset_index(inplace=True)

[*********************100%%**********************]  1 of 1 completed

In [86]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,14.324000,14.688667,14.064000,14.466000,14.466000,88849500
1,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500
2,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500
3,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500
4,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500
...,...,...,...,...,...,...,...
1697,2023-10-02,244.809998,254.279999,242.619995,251.600006,251.600006,123810400
1698,2023-10-03,248.610001,250.020004,244.449997,246.529999,246.529999,101985300
1699,2023-10-04,248.139999,261.859985,247.600006,261.160004,261.160004,129721600
1700,2023-10-05,260.000000,263.600006,256.250000,260.049988,260.049988,119159200
1701,2023-10-06,253.979996,261.649994,250.649994,260.529999,260.529999,117947000

### Importing F-F Research Data Factors dataset

The F-F Research Data Factors daily dataset, also known as the Fama-French factors dataset, is a widely used financial dataset that provides daily risk factors for asset pricing models. It is named after its creators, Eugene Fama and Kenneth French, who developed the dataset to study and analyze stock returns.

The dataset includes several factors that are commonly used in empirical finance research. These factors include the market risk premium (Mkt-RF), which represents the excess return of the overall market over the risk-free rate, and three additional factors: the size premium (SMB), the value premium (HML), and the risk-free rate (RF).

The size premium (SMB) captures the excess return of small-cap stocks over large-cap stocks, while the value premium (HML) represents the excess return of value stocks over growth stocks. The risk-free rate (RF) is the return on a risk-free investment, such as Treasury bills.

Researchers and analysts often use the F-F Research Data Factors daily dataset to investigate the relationship between these factors and stock returns. By incorporating these factors into asset pricing models, researchers can assess the performance and risk characteristics of various investment strategies and study the impact of different market factors on stock returns.

The dataset is typically provided in a tabular format, such as a CSV file, allowing for easy integration into data analysis workflows using tools like Python's pandas library. Analysts can load the dataset, explore the factors' time series, and conduct various statistical analyses and modeling techniques to gain insights into the relationship between these factors and asset returns.

Overall, the F-F Research Data Factors daily dataset is a valuable resource for researchers, academics, and financial professionals interested in studying asset pricing models, evaluating investment strategies, and analyzing stock market data.

https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html


### Data Ingestion of Fama French Daily Features

In [87]:
df_ff_features = pd.read_csv("F-F_Research_Data_Factors_daily.CSV", skiprows=4)
df_ff_features.rename(columns = {'Unnamed: 0':'Date'},inplace=True)

In [88]:
df_ff_features.tail()

                                   Date  Mkt-RF   SMB   HML     RF
25539                          20230726    0.02  0.68  1.03  0.022
25540                          20230727   -0.74 -0.90  0.27  0.022
25541                          20230728    1.14  0.53 -0.33  0.022
25542                          20230731    0.26  1.06 -0.10  0.022
25543  Copyright 2023 Kenneth R. French     NaN   NaN   NaN    NaN

In [89]:
today = end_date.strftime('%Y%m%d')

print(today)

20231008

In [90]:

df_ff_features.reset_index(drop = True, inplace= True)
df_ff_features = df_ff_features[(df_ff_features.Date > '20170101') & (df_ff_features.Date <= today)]
df_ff_features['Date']=pd.to_datetime(df_ff_features['Date'])
df_ff_features

            Date  Mkt-RF   SMB   HML     RF
23889 2017-01-03    0.83 -0.14  0.06  0.002
23890 2017-01-04    0.79  0.95 -0.16  0.002
23891 2017-01-05   -0.21 -0.89 -0.79  0.002
23892 2017-01-06    0.29 -0.66 -0.31  0.002
23893 2017-01-09   -0.37 -0.30 -1.03  0.002
...          ...     ...   ...   ...    ...
25538 2023-07-25    0.25 -0.04 -0.79  0.022
25539 2023-07-26    0.02  0.68  1.03  0.022
25540 2023-07-27   -0.74 -0.90  0.27  0.022
25541 2023-07-28    1.14  0.53 -0.33  0.022
25542 2023-07-31    0.26  1.06 -0.10  0.022

[1654 rows x 5 columns]

In [91]:
###3. Transformation: Merge Fama French Features: Left Join on Date

In [92]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1702 entries, 0 to 1701
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1702 non-null   datetime64[ns]
 1   Open       1702 non-null   float64
 2   High       1702 non-null   float64
 3   Low        1702 non-null   float64
 4   Close      1702 non-null   float64
 5   Adj Close  1702 non-null   float64
 6   Volume     1702 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 93.2 KB

In [93]:
merged_df = stock.merge(df_ff_features, how='left', on='Date')

In [94]:
stock = merged_df

In [95]:
# Yesterday's Close Price
stock['Yest_Close']  = stock['Adj Close'].shift(1)

In [96]:
# Adding Stock Returns Column
stock['stock_return'] = (stock['Adj Close']-stock['Yest_Close'])/(stock['Yest_Close'])

In [97]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,RF,Yest_Close,stock_return
0,2017-01-03,14.324000,14.688667,14.064000,14.466000,14.466000,88849500,0.83,-0.14,0.06,0.002,NaN,NaN
1,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,0.002,14.466000,0.046085
2,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,0.002,15.132667,-0.001057
3,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,0.002,15.116667,0.009967
4,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,0.002,15.267333,0.009912
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,2023-10-02,244.809998,254.279999,242.619995,251.600006,251.600006,123810400,NaN,NaN,NaN,NaN,250.220001,0.005515
1698,2023-10-03,248.610001,250.020004,244.449997,246.529999,246.529999,101985300,NaN,NaN,NaN,NaN,251.600006,-0.020151
1699,2023-10-04,248.139999,261.859985,247.600006,261.160004,261.160004,129721600,NaN,NaN,NaN,NaN,246.529999,0.059344
1700,2023-10-05,260.000000,263.600006,256.250000,260.049988,260.049988,119159200,NaN,NaN,NaN,NaN,261.160004,-0.004250
1701,2023-10-06,253.979996,261.649994,250.649994,260.529999,260.529999,117947000,NaN,NaN,NaN,NaN,260.049988,0.001846

In [98]:
missing_values=stock.isnull().sum() # missing values

percent_missing = stock.isnull().sum()/stock.shape[0]*100 # missing value %
cols = list(stock.columns)
value = {
    'missing_values ':missing_values,
    'percent_missing %':percent_missing , 
     'data type' : stock.dtypes
}
frame=pd.DataFrame(value)
frame

              missing_values   percent_missing %       data type
Date                        0           0.000000  datetime64[ns]
Open                        0           0.000000         float64
High                        0           0.000000         float64
Low                         0           0.000000         float64
Close                       0           0.000000         float64
Adj Close                   0           0.000000         float64
Volume                      0           0.000000           int64
Mkt-RF                     48           2.820212         float64
SMB                        48           2.820212         float64
HML                        48           2.820212         float64
RF                         48           2.820212         float64
Yest_Close                  1           0.058754         float64
stock_return                1           0.058754         float64

In [99]:
### 5. transformation, remove NaN from ff and stock dataset

In [100]:
stock=stock.dropna()

In [101]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,RF,Yest_Close,stock_return
1,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,0.002,14.466000,0.046085
2,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,0.002,15.132667,-0.001057
3,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,0.002,15.116667,0.009967
4,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,0.002,15.267333,0.009912
5,2017-01-10,15.466667,15.466667,15.126000,15.324667,15.324667,54900000,0.16,0.89,0.43,0.002,15.418667,-0.006096
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,2023-07-25,272.380005,272.899994,265.000000,265.279999,265.279999,112757300,0.25,-0.04,-0.79,0.022,269.059998,-0.014049
1650,2023-07-26,263.250000,268.040009,261.750000,264.350006,264.350006,95856200,0.02,0.68,1.03,0.022,265.279999,-0.003506
1651,2023-07-27,268.309998,269.130005,255.300003,255.710007,255.710007,103697300,-0.74,-0.90,0.27,0.022,264.350006,-0.032684
1652,2023-07-28,259.859985,267.250000,258.230011,266.440002,266.440002,111446000,1.14,0.53,-0.33,0.022,255.710007,0.041962
1653,2023-07-31,267.480011,269.079987,263.779999,267.429993,267.429993,84582200,0.26,1.06,-0.10,0.022,266.440002,0.003716

### Adding Extra Additional Stock Features of Moving Averages, MACD & RSI

In [102]:
###data ingestion and transformation

In [103]:
# Calculate additional features
stock["SMA_20"] = ta.trend.sma_indicator(stock["Close"], window=20, fillna = True)
stock["SMA_50"] = ta.trend.sma_indicator(stock["Close"], window=50, fillna = True)

stock["EMA_12"] = ta.trend.ema_indicator(stock["Close"], window=12, fillna = True)
stock["EMA_26"] = ta.trend.ema_indicator(stock["Close"], window=26, fillna = True)
stock["MACD"] = ta.trend.macd(stock["Close"], fillna = True)

stock["RSI"] = ta.momentum.rsi(stock["Close"], fillna = True)

stock

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,RF,Yest_Close,stock_return,SMA_20,SMA_50,EMA_12,EMA_26,MACD,RSI
1,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,0.002,14.466000,0.046085,15.132667,15.132667,15.132667,15.132667,0.000000,100.000000
2,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,0.002,15.132667,-0.001057,15.124667,15.124667,15.130205,15.131481,-0.001276,0.000000
3,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,0.002,15.116667,0.009967,15.172222,15.172222,15.151302,15.141545,0.009757,91.024248
4,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,0.002,15.267333,0.009912,15.233833,15.233833,15.192435,15.162072,0.030363,95.477309
5,2017-01-10,15.466667,15.466667,15.126000,15.324667,15.324667,54900000,0.16,0.89,0.43,0.002,15.418667,-0.006096,15.252000,15.252000,15.212778,15.174116,0.038662,71.686831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,2023-07-25,272.380005,272.899994,265.000000,265.279999,265.279999,112757300,0.25,-0.04,-0.79,0.022,269.059998,-0.014049,272.094999,239.121800,272.029478,264.035489,7.993989,51.187379
1650,2023-07-26,263.250000,268.040009,261.750000,264.350006,264.350006,95856200,0.02,0.68,1.03,0.022,265.279999,-0.003506,272.801999,241.049200,270.848021,264.058787,6.789234,50.639496
1651,2023-07-27,268.309998,269.130005,255.300003,255.710007,255.710007,103697300,-0.74,-0.90,0.27,0.022,264.350006,-0.032684,272.775500,242.836400,268.519095,263.440359,5.078737,45.741140
1652,2023-07-28,259.859985,267.250000,258.230011,266.440002,266.440002,111446000,1.14,0.53,-0.33,0.022,255.710007,0.041962,273.222500,244.834800,268.199235,263.662555,4.536680,51.956498
1653,2023-07-31,267.480011,269.079987,263.779999,267.429993,267.429993,84582200,0.26,1.06,-0.10,0.022,266.440002,0.003716,273.505500,246.706200,268.080890,263.941624,4.139266,52.497167

### Importing ADS Index

In [104]:
ads_df = pd.read_excel('ADS_Index_Most_Current_Vintage.xlsx')

In [105]:
ads_df.tail()

       Unnamed: 0  ADS_Index
23219  2023:09:26   0.288447
23220  2023:09:27   0.283718
23221  2023:09:28   0.278881
23222  2023:09:29   0.273935
23223  2023:09:30   0.268876

In [106]:
ads_df.rename(columns = {'Unnamed: 0':'Date'},inplace=True)

ads_df['Date'] = pd.to_datetime(ads_df['Date'], format='%Y:%m:%d')

In [107]:
ads_df.head()

        Date  ADS_Index
0 1960-03-01  -0.576619
1 1960-03-02  -0.625041
2 1960-03-03  -0.670413
3 1960-03-04  -0.712752
4 1960-03-05  -0.752074

In [108]:
stock = stock.merge(ads_df, how='left', on='Date')

In [109]:
stock.to_csv('Features included stock.csv', index=False)

In [110]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,RF,Yest_Close,stock_return,SMA_20,SMA_50,EMA_12,EMA_26,MACD,RSI,ADS_Index
0,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,0.002,14.466000,0.046085,15.132667,15.132667,15.132667,15.132667,0.000000,100.000000,0.174783
1,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,0.002,15.132667,-0.001057,15.124667,15.124667,15.130205,15.131481,-0.001276,0.000000,0.154241
2,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,0.002,15.116667,0.009967,15.172222,15.172222,15.151302,15.141545,0.009757,91.024248,0.134146
3,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,0.002,15.267333,0.009912,15.233833,15.233833,15.192435,15.162072,0.030363,95.477309,0.076169
4,2017-01-10,15.466667,15.466667,15.126000,15.324667,15.324667,54900000,0.16,0.89,0.43,0.002,15.418667,-0.006096,15.252000,15.252000,15.212778,15.174116,0.038662,71.686831,0.057208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,2023-07-25,272.380005,272.899994,265.000000,265.279999,265.279999,112757300,0.25,-0.04,-0.79,0.022,269.059998,-0.014049,272.094999,239.121800,272.029478,264.035489,7.993989,51.187379,0.310831
1649,2023-07-26,263.250000,268.040009,261.750000,264.350006,264.350006,95856200,0.02,0.68,1.03,0.022,265.279999,-0.003506,272.801999,241.049200,270.848021,264.058787,6.789234,50.639496,0.307146
1650,2023-07-27,268.309998,269.130005,255.300003,255.710007,255.710007,103697300,-0.74,-0.90,0.27,0.022,264.350006,-0.032684,272.775500,242.836400,268.519095,263.440359,5.078737,45.741140,0.302536
1651,2023-07-28,259.859985,267.250000,258.230011,266.440002,266.440002,111446000,1.14,0.53,-0.33,0.022,255.710007,0.041962,273.222500,244.834800,268.199235,263.662555,4.536680,51.956498,0.296997
1652,2023-07-31,267.480011,269.079987,263.779999,267.429993,267.429993,84582200,0.26,1.06,-0.10,0.022,266.440002,0.003716,273.505500,246.706200,268.080890,263.941624,4.139266,52.497167,0.275560

In [111]:
## Competitor data ingestions

### Adding Competitor Stock Data for Analysis

* Nio Inc. (NIO)
* Li Auto Inc. (LI)
* Rivian Automotive Inc. (RIVN)
* General Motors Co. (GM)
* Toyota Motor Corp. (TM)
* Ford Motor Co. (F)
* RACE NV (RACE)

In [112]:
'''NIO = yf.download('NIO',start_date ,end_date)
NIO.reset_index(inplace=True)

LI = yf.download('LI',start_date ,end_date)
LI.reset_index(inplace=True)

RIVN = yf.download('RIVN',start_date ,end_date)
RIVN.reset_index(inplace=True)'''

GM = yf.download('GM',start_date ,end_date)
GM.reset_index(inplace=True)

TM = yf.download('TM',start_date ,end_date)
TM.reset_index(inplace=True)

F = yf.download('F',start_date ,end_date)
F.reset_index(inplace=True)

RACE = yf.download('RACE',start_date ,end_date)
RACE.reset_index(inplace=True)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [113]:
'''NIO['NIO Yest_Close'] = NIO['Adj Close'].shift(periods=1)
LI['LI Yest_Close'] = LI['Adj Close'].shift(periods=1)
RIVN['RIVN Yest_Close'] = RIVN['Adj Close'].shift(periods=1)'''
GM['GM Yest_Close'] = GM['Adj Close'].shift(periods=1)
TM['TM Yest_Close'] = TM['Adj Close'].shift(periods=1)
F['F Yest_Close'] = F['Adj Close'].shift(periods=1)
RACE['RACE Yest_Close'] = RACE['Adj Close'].shift(periods=1)

In [114]:
'''stock = stock.merge(NIO[['Date', 'NIO Yest_Close']], how='left', on='Date')
stock = stock.merge(LI, how='left', on='Date')
stock = stock.merge(RIVN, how='left', on='Date')'''
stock = stock.merge(GM[['Date', 'GM Yest_Close']], how='left', on='Date')
stock = stock.merge(TM[['Date', 'TM Yest_Close']], how='left', on='Date')
stock = stock.merge(F[['Date', 'F Yest_Close']], how='left', on='Date')
stock = stock.merge(RACE[['Date', 'RACE Yest_Close']], how='left', on='Date')

In [115]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,...,SMA_50,EMA_12,EMA_26,MACD,RSI,ADS_Index,GM Yest_Close,TM Yest_Close,F Yest_Close,RACE Yest_Close
0,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,...,15.132667,15.132667,15.132667,0.000000,100.000000,0.174783,30.369259,118.550003,9.082818,55.978443
1,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,...,15.124667,15.130205,15.131481,-0.001276,0.000000,0.154241,32.045399,121.190002,9.501246,56.424824
2,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,...,15.172222,15.151302,15.141545,0.009757,91.024248,0.134146,31.440609,120.440002,9.212674,56.377335
3,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,...,15.233833,15.192435,15.162072,0.030363,95.477309,0.076169,31.095015,120.129997,9.205460,55.978443
4,2017-01-10,15.466667,15.466667,15.126000,15.324667,15.324667,54900000,0.16,0.89,0.43,...,15.252000,15.212778,15.174116,0.038662,71.686831,0.057208,31.112295,119.739998,9.111673,55.351604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,2023-07-25,272.380005,272.899994,265.000000,265.279999,265.279999,112757300,0.25,-0.04,-0.79,...,239.121800,272.029478,264.035489,7.993989,51.187379,0.310831,39.194069,164.529999,13.960000,317.160004
1649,2023-07-26,263.250000,268.040009,261.750000,264.350006,264.350006,95856200,0.02,0.68,1.03,...,241.049200,270.848021,264.058787,6.789234,50.639496,0.307146,37.817787,165.559998,13.580000,316.109985
1650,2023-07-27,268.309998,269.130005,255.300003,255.710007,255.710007,103697300,-0.74,-0.90,0.27,...,242.836400,268.519095,263.440359,5.078737,45.741140,0.302536,38.186794,165.699997,13.670000,317.350006
1651,2023-07-28,259.859985,267.250000,258.230011,266.440002,266.440002,111446000,1.14,0.53,-0.33,...,244.834800,268.199235,263.662555,4.536680,51.956498,0.296997,38.864960,165.429993,13.730000,317.269989
1652,2023-07-31,267.480011,269.079987,263.779999,267.429993,267.429993,84582200,0.26,1.06,-0.10,...,246.706200,268.080890,263.941624,4.139266,52.497167,0.275560,37.947437,167.149994,13.260000,321.820007

In [116]:
print(stock.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1653 non-null   datetime64[ns]
 1   Open             1653 non-null   float64
 2   High             1653 non-null   float64
 3   Low              1653 non-null   float64
 4   Close            1653 non-null   float64
 5   Adj Close        1653 non-null   float64
 6   Volume           1653 non-null   int64
 7   Mkt-RF           1653 non-null   float64
 8   SMB              1653 non-null   float64
 9   HML              1653 non-null   float64
 10  RF               1653 non-null   float64
 11  Yest_Close       1653 non-null   float64
 12  stock_return     1653 non-null   float64
 13  SMA_20           1653 non-null   float64
 14  SMA_50           1653 non-null   float64
 15  EMA_12           1653 non-null   float64
 16  EMA_26           1653 non-null   float64
 17  MACD             1653 non-null   float64
 18  RSI              1653 non-null   float64
 19  ADS_Index        1653 non-null   float64
 20  GM Yest_Close    1653 non-null   float64
 21  TM Yest_Close    1653 non-null   float64
 22  F Yest_Close     1653 non-null   float64
 23  RACE Yest_Close  1653 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(1)
memory usage: 310.1 KB
None

In [117]:
df=stock
df.dropna()

,Date,Open,High,Low,Close,Adj Close,Volume,Mkt-RF,SMB,HML,...,SMA_50,EMA_12,EMA_26,MACD,RSI,ADS_Index,GM Yest_Close,TM Yest_Close,F Yest_Close,RACE Yest_Close
0,2017-01-04,14.316667,15.200000,14.287333,15.132667,15.132667,168202500,0.79,0.95,-0.16,...,15.132667,15.132667,15.132667,0.000000,100.000000,0.174783,30.369259,118.550003,9.082818,55.978443
1,2017-01-05,15.094667,15.165333,14.796667,15.116667,15.116667,88675500,-0.21,-0.89,-0.79,...,15.124667,15.130205,15.131481,-0.001276,0.000000,0.154241,32.045399,121.190002,9.501246,56.424824
2,2017-01-06,15.128667,15.354000,15.030000,15.267333,15.267333,82918500,0.29,-0.66,-0.31,...,15.172222,15.151302,15.141545,0.009757,91.024248,0.134146,31.440609,120.440002,9.212674,56.377335
3,2017-01-09,15.264667,15.461333,15.200000,15.418667,15.418667,59692500,-0.37,-0.30,-1.03,...,15.233833,15.192435,15.162072,0.030363,95.477309,0.076169,31.095015,120.129997,9.205460,55.978443
4,2017-01-10,15.466667,15.466667,15.126000,15.324667,15.324667,54900000,0.16,0.89,0.43,...,15.252000,15.212778,15.174116,0.038662,71.686831,0.057208,31.112295,119.739998,9.111673,55.351604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,2023-07-25,272.380005,272.899994,265.000000,265.279999,265.279999,112757300,0.25,-0.04,-0.79,...,239.121800,272.029478,264.035489,7.993989,51.187379,0.310831,39.194069,164.529999,13.960000,317.160004
1649,2023-07-26,263.250000,268.040009,261.750000,264.350006,264.350006,95856200,0.02,0.68,1.03,...,241.049200,270.848021,264.058787,6.789234,50.639496,0.307146,37.817787,165.559998,13.580000,316.109985
1650,2023-07-27,268.309998,269.130005,255.300003,255.710007,255.710007,103697300,-0.74,-0.90,0.27,...,242.836400,268.519095,263.440359,5.078737,45.741140,0.302536,38.186794,165.699997,13.670000,317.350006
1651,2023-07-28,259.859985,267.250000,258.230011,266.440002,266.440002,111446000,1.14,0.53,-0.33,...,244.834800,268.199235,263.662555,4.536680,51.956498,0.296997,38.864960,165.429993,13.730000,317.269989
1652,2023-07-31,267.480011,269.079987,263.779999,267.429993,267.429993,84582200,0.26,1.06,-0.10,...,246.706200,268.080890,263.941624,4.139266,52.497167,0.275560,37.947437,167.149994,13.260000,321.820007

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1653 non-null   datetime64[ns]
 1   Open             1653 non-null   float64
 2   High             1653 non-null   float64
 3   Low              1653 non-null   float64
 4   Close            1653 non-null   float64
 5   Adj Close        1653 non-null   float64
 6   Volume           1653 non-null   int64
 7   Mkt-RF           1653 non-null   float64
 8   SMB              1653 non-null   float64
 9   HML              1653 non-null   float64
 10  RF               1653 non-null   float64
 11  Yest_Close       1653 non-null   float64
 12  stock_return     1653 non-null   float64
 13  SMA_20           1653 non-null   float64
 14  SMA_50           1653 non-null   float64
 15  EMA_12           1653 non-null   float64
 16  EMA_26           1653 non-null   float64
 17  MACD             1653 non-null   float64
 18  RSI              1653 non-null   float64
 19  ADS_Index        1653 non-null   float64
 20  GM Yest_Close    1653 non-null   float64
 21  TM Yest_Close    1653 non-null   float64
 22  F Yest_Close     1653 non-null   float64
 23  RACE Yest_Close  1653 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(1)
memory usage: 310.1 KB

In [127]:
df.to_csv('stockffads.csv', index = False, sep = ',')

In [120]:
y = df.iloc[:, -2]
print(y)

0        9.082818
1        9.501246
2        9.212674
3        9.205460
4        9.111673
          ...
1648    13.960000
1649    13.580000
1650    13.670000
1651    13.730000
1652    13.260000
Name: F Yest_Close, Length: 1653, dtype: float64

### Correlation Matrix of Final Dataframe to check the multi-collinearity between variables

In [121]:
x = df.iloc[1:, 1:]
y = df.iloc[:, -2]
corrmat = df.corr()
top_corr_features = corrmat.index

import plotly.express as px
z= df[top_corr_features].corr()
fig = px.imshow(z, text_auto=True)
fig.show()

In [122]:
X = df[['Mkt-RF', 'SMB', 'HML', 'ADS_Index']]/100
y = df['stock_return'] - df['RF']
X = sm.add_constant(X)

ff_model = sm.OLS(y, X).fit()
print(ff_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.293
Model:                            OLS   Adj. R-squared:                  0.291
Method:                 Least Squares   F-statistic:                     170.7
Date:                Sun, 08 Oct 2023   Prob (F-statistic):          2.04e-122
Time:                        13:35:12   Log-Likelihood:                 3297.0
No. Observations:                1653   AIC:                            -6584.
Df Residuals:                    1648   BIC:                            -6557.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0038      0.001     -4.699      0.000      -0.005      -0.002
Mkt-RF         1.4078      0.065     21.504      0.000       1.279       1.536
SMB            0.6767      0.124      5.471      0.000       0.434       0.919
HML           -0.7367      0.080     -9.219      0.000      -0.893      -0.580
ADS_Index      0.0142      0.023      0.612      0.541      -0.031       0.060
==============================================================================
Omnibus:                      196.713   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1503.589
Skew:                           0.262   Prob(JB):                         0.00
Kurtosis:                       7.643   Cond. No.                         154.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [123]:
X

      const  Mkt-RF     SMB     HML  ADS_Index
0       1.0  0.0079  0.0095 -0.0016   0.001748
1       1.0 -0.0021 -0.0089 -0.0079   0.001542
2       1.0  0.0029 -0.0066 -0.0031   0.001341
3       1.0 -0.0037 -0.0030 -0.0103   0.000762
4       1.0  0.0016  0.0089  0.0043   0.000572
...     ...     ...     ...     ...        ...
1648    1.0  0.0025 -0.0004 -0.0079   0.003108
1649    1.0  0.0002  0.0068  0.0103   0.003071
1650    1.0 -0.0074 -0.0090  0.0027   0.003025
1651    1.0  0.0114  0.0053 -0.0033   0.002970
1652    1.0  0.0026  0.0106 -0.0010   0.002756

[1653 rows x 5 columns]

In [124]:
y

0       0.044085
1      -0.003057
2       0.007967
3       0.007912
4      -0.008096
          ...
1648   -0.036049
1649   -0.025506
1650   -0.054684
1651    0.019962
1652   -0.018284
Length: 1653, dtype: float64

In [125]:
ff_model.params

const       -0.003824
Mkt-RF       1.407786
SMB          0.676675
HML         -0.736692
ADS_Index    0.014202
dtype: float64